<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <title>Acceuil</title>
</head>
<body>
    {% block imageb %}
    <div id="rouge" style="background-image: url('{{ asset('assets/img/rouge.jpg') }}')">
    {% endblock %}
        {% block imageh %}
        <header style="background-image: url('{{ asset('assets/img/violet3.jpg') }}')">
        {% endblock %}
            <a href="#menu">
                <span class="iconify" id="burger"  data-icon="gg:menu" style="color: black;"></span>
            </a>
            <a href="{{ path('app_home') }}">
                <span class="iconify" data-icon="openmoji:strawberry" style="color: black;"></span>
            </a>
            <a href="#wrap">
                <span class="iconify" data-icon="fluent:search-16-regular" style="color: black;"></span>
            </a>
            <ul id="menu">
                <span class="iconify"id="logo_menu" data-icon="gg:menu" style="color: black;"></span>
                <a href="{{ path('app_login') }}">
                    <li>Mon compte</li>
                </a>
                <a href="/html/Tendances.html">
                    <li>Tendances</li>
                </a>
                <a href="{{ path('app_recette') }}">
                    <li>Proposer une recette</li>
                </a>
                <a href="{{ path('app_saisons') }}">
                    <li>Saisons</li>
                </a>
                <a href="{{ path('app_minuteur') }}">
                    <li>Minuteur</li>
                </a>
            </ul>
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            </header>
    <div id="pc">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Mon compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_recette') }}">Proposer une recette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_saisons') }}">Saisons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_minuteur') }}">Minuteur</a>
            </li>
        </ul>
    </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}


        <footer>
            <div id="calc"> 
                <div class="contact">
                    <a href="{{ path('app_contact') }}" title="Contact">
                        <span class="iconify" id="logo_contact"data-icon="fluent:contact-card-32-filled" style="color: black;"></span>
                    </a>
                </div>
                <a id="sommes" href="{{ path('app_infos') }}">Qui sommes nous ?</a>
                <div class="infos">
                    <a href="{{ path('app_infos') }}" title="Informations">
                        <span class="iconify" id="logo_infos" data-icon="bi:info-circle-fill" style="color: black;"></span>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
